.bg-image-wrapper {
    background-image: url(./assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150vh;
}

.hero-section {
    background-color: rgba(000, 000, 000, 0.35);
    width: 50%;
    margin-right: 30px;
    float: right;
    padding: 30px;
    border-radius: 30px;
    margin-top: 100px;
}

.hero-section > h1 {
    font-size: 60px;
}

.hero-section > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-section > button {
    border: 0;
    background-color: white;
    color: var(--dark-blue);
    padding: 10px 60px;
    border-radius: 50px;
    float: right;
    font-size: 22px;
}

.place-cards {
    padding: 0px 30px;
    margin-top: 60px;
}

.places-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.places-container > article {
    border-radius: 60px;
    background-color: var(--pink);
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.place-image {
    height: 200px;
}

.places-container > article > h3 {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 10px;
}

.place-cards > h2 {
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.heart-image {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url(./assets/images/icons/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.heart-filled {
    background-image: url(./assets/images/icons/heart-filled.png);
}

.popularity {
    margin-top: auto;
    margin-bottom: 15px;
}

.popularity > p {
    color: var(--dark-blue);
    font-size: 23px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.rating > p {
    color: var(--dark-blue);
    font-size: 23px;
    padding-left: 20px;
}

.progress-bar {
    border-radius: 20px;
    height: 10px;
    border: 1px solid var(--black);
    width: 50%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.progress-reached {
    background-color: var(--dark-blue);
    width: 30%;
    height: 10px;
    border-radius: 20px;
}

.rating-stars {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.rating-stars > img {
    width: 20px;
}

.recomendations-cards {
    margin-top: 60px;
    padding: 0px 30px;
}

.recomendations-cards > h2 {
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-size: 60px;
}

.recomendations-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recomendations-container > article {
    background-color: var(--dark-green);
    border-radius: 60px;
    width: 300px;
}

.recomendations-container > article > h3 {
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recomendations-container > article > div {
    margin-left: 20px;
    background-color: var(--light-blue);
    padding: 5px;
    text-align: center;
    width: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.place-of-day {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    background-color: var(--dark-pink);
    padding: 0px 60px;
    margin-top: 200px;
}

.place-of-day > .image-section {
    position: relative;
    width: 50%;
}

.place-of-day > .image-section > .text {
    color: white;
    font-weight: 400;
    position: absolute;
    font-size: 80px;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.place-of-day > .image-section > .bg-image {
    height: 120%;
    top: -10%;
    position: relative;
}

.place-of-day > .image-section > .arrow-image {
    position: absolute;
    width: 50px;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.place-of-day > .text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.place-of-day > .text-section > h2 {
    color: var(--dark-blue);
    font-weight: 400;
    margin-bottom: 20px;
}

.place-of-day > .text-section > p {
    color: var(--dark-blue);
    font-size: 25px;
    margin-bottom: 30px;
}

.place-of-day > .text-section > button {
    color: var(--dark-blue);
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--dark-blue);
    width: 60%;
    margin: 0 auto;
    border-radius: 40px;
    padding: 10px 0;
    cursor: pointer;
}

.our-users {
    margin-top: 120px;
    padding: 0 60px;
}

.our-users-card {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.our-users-card > article {
    width: 300px;
    background-color: var(--darker-green);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-users-card > article > img {
    height: 130px;
    width: 130px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.our-users-card > article > p {
    height: 130px;
    text-align: center;
    margin-bottom: 20px;
}

.our-users-card > article > .rating-stars {
    margin: 0;
    gap: 10px;
}

.our-users-card > article > .rating-stars > img {
    width: 30px;
    height: 30px;
}

.footer-wrapper {
    background-image: url(./assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sign-up-wrapper {
    margin: 150px auto 150px auto;
    background-color: rgba(000, 000, 000, 0.35);
    border-radius: 30px;
    width: 80%;
    padding: 20px;
}

.sign-up-wrapper > h3 {
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.sign-up-wrapper > p {
    color: white;
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.sign-up-wrapper > input {
    display: block;
    border-radius: 50px;
    width: 100%;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
}

.sign-up-wrapper > button {
    display: block;
    border-radius: 50px;
    width: 30%;
    border: 0;
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    margin: 20px auto 0 auto;
}

footer {
    display: flex;
    align-items: center;
    padding: 60px;
    justify-content: space-between;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media {
    flex-direction: row;
    gap: 40px;
}